// Stylage général

$main-color: #230C33;
$second-color: #CAA8F5;
$third-color: #9A0965;
$bp-desktop: 1200px;
$bp-tablet: 1024px;
$bp-mobile: 768px;

@mixin second-font {
	font-family: "Baumans", system-ui;
	font-weight: 400;
}

@mixin third-font {
	font-family: "Cinzel Decorative", serif;
	font-weight: 700;
}

* {
	margin: 0;
}

body {
	font-family: "Poiret One", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: $second-color;
	
	a {
		text-decoration: none;
		color: inherit;
	}

	h3 {
		@include second-font;
		padding: 10px;
		text-align: center;
	}

	h4 {
		font-weight: 400;
		padding-bottom: 10px;
		text-align: center;
	}

	ul {
		list-style: none;
		padding: 0;
	}
}

// Stylage header, navbar et footer

header {
	background-color: $main-color;
	border-bottom: $third-color 5px solid;
	display: flex;
	justify-content: center;
	font-size: 16px;
	position: fixed;
	z-index: 2;
	width: 100%;

	.navbar {
		width: 100%;
		max-width: 1440px;
		@include second-font;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 20px;

		&__title {
			font-size: 22px;
			margin: 0;
			font-weight: 400;

			@media (max-width: $bp-tablet) {
				font-size: 18px;
			}
		}

		&__menu {
			display: flex;
			align-items: center;
			gap: 20px;
			margin-left: auto;

			@media (max-width: $bp-tablet) {
				font-size: 12px;
			}
		}

		&__media {
			display: flex;
			align-items: center;
			gap: 5px;

			@media (min-width: $bp-mobile) {
				margin-left: 20px;
			}

			img, button {
				width: 25px;
				height: 25px;
				vertical-align: middle;
			}

			button {
				background-color: $third-color;
				color: white;
				border-radius: 50%;
				border: none;
				text-align: start;
				line-height: 25px;
			}
		}

		@media (max-width: $bp-mobile) {
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: auto auto;
			padding: 10px;
			gap: 10px;

			&__menu {
				order: 2;
				grid-column: 1 / 3;
				justify-content: space-around;
				margin-left: unset;
				gap: 10px;
			}

			&__title {
				font-size: 16px;
				letter-spacing: -3%;
			}
		}
	}
}

footer button {
	width: 45px;
	height: 45px;
	border: none;
	border-radius: 15px;
	background-color: $third-color;
	position: fixed;
	right: 25px;
	bottom: 25px;

	img {
		width: 25px;
		height: auto;
	}

	@media (max-width: $bp-desktop) {
		width: 35px;
		height: 35px;
		right: 10px;
		bottom: 10px;

		img {
			width: 15px;
		}
	}
}


// Stylage général sections

.section {
	margin: auto;
	background-color: $main-color;

	&.bg--light {
		background-color: $second-color;
		color: $main-color;
	}

	&__container {
		max-width: 1440px;
		margin: auto;
		padding: 50px 0;
	}

	&__title {
		@include third-font;
		font-size: 20px;
		padding-bottom: 20px;
	}

	&__intro {
		text-align: center;
		width: 265px;

		@media (max-width: $bp-tablet) {
			width: 80%;
		}
	}
}

// Stylage section home

.home {
	padding: 160px 0 100px 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	&__photo.container {
			position: relative;
			width: 250px;
			height: 250px;

			&:before {
				content: "";
				position: absolute;
				background-color: $main-color;
				width: 110%;
				height: 110%;
				border-radius: 50%;
				top: -30px;
				right: -30px;
			}

			.image {
				width: 100%;
				height: auto;
				border-radius: 50%;
				border: $second-color solid 5px;
				box-sizing: border-box;
				position: absolute;
				z-index: 1;
			}

			&:after {
				content: "";
				position: absolute;
				background-color: $third-color;
				width: 100%;
				height: 90%;
				border-radius: 50%;
				bottom: -30px;
				left: -50px;
			}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		gap: 50px;

		.button {
			width: 300px;
			height: 60px;
			border-radius: 20px;
			background-color: $second-color;
			border: $third-color dashed 3px;
			@include third-font;
			font-size: 20px;

			&.full {
				background-color: $third-color;
				@include second-font;
				color: white;
				border: $main-color solid 3px;
			}
		}
	}

	@media (max-width: $bp-desktop) {
		justify-content: center;
		gap: 20px;

		&__photo.container {
			margin: 0 30px;
		}
	}

	@media (max-width: $bp-tablet) {
		flex-wrap: wrap;
		padding: 110px 0 50px 0;

		&__photo.container {
			order: 1;
			margin: 30px 20px 30px 80px;
		}
	}

	@media (max-width: $bp-mobile) {
		flex-direction: column;

		&__buttons {
			gap: 20px;

			.button {
				width: 200px;
				height: 45px;
				font-size: 16px;
			}
		}

		&__photo.container {
			width: 200px;
			height: 200px;
			margin: 30px 0 30px 15px;

			&:before {
				top: -20px;
				right: -20px;
			}

			&:after {
				bottom: -25px;
				left: -35px;
			}
		}
	}
}

// Stylage section compétences

.skills {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo {
		width: 80px;
		height: auto;
	}

	&__article {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;

		&__title {
			width: 50%;
		}

		&__content {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			text-align: center;
			gap: 10px;
		}
	}

	@media (max-width: $bp-tablet) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		.section__intro {
			grid-column: 1/4;
			margin: auto;
		}

		&__article {
			gap: 20px;
			margin-top: 20px;
		}
	}

	@media (max-width: $bp-mobile) {
		display: flex;
		flex-direction: column;

		&__logo {
			width: 50px;
		}

		&__article {
			width: 80%;

			&__title {
				width: 100%;
			}

			&__content {
				display: flex;
				justify-content: space-evenly;
				width: 100%;
				flex-wrap: wrap;

				h4 {
					font-size: 16px;
					width: 85px;
				}
			}
		}
	}
}

// Stylage section portfolio

.portfolio {
	border-top: $second-color solid 2px;
	border-left: $second-color solid 2px;
	box-sizing: border-box;
	padding: 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;

	.section__intro {
		width: 80%;
	}

	&__projects {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: center;

		.project {
			display: flex;
			flex-direction: column;
			gap: 10px;
			align-items: center;
			width: 300px;

			&__image {
				width: 240px;
				height: auto;
			}

			&__buttons {
				display: flex;
				justify-content: space-evenly;
				gap: 20px;

				button {
					width: 90px;
					height: 30px;
					background-color: $third-color;
					border: none;
					color: white;
					@include second-font;
					font-size: 16px;
					border-top-left-radius: 25px;
					border-bottom-right-radius: 25px;

					&.btn--left {
						border-bottom-left-radius: 25px;
						border-bottom-right-radius: 40px;
					}

					&.btn--right {
						border-top-right-radius: 25px;
						border-top-left-radius: 40px;
					}
				}
			}

			&__content {
				text-align: center;
				font-size: 14px;
				padding: 10px;

				h4 {
					font-weight: 700;
					padding-top: 10px;
					@include second-font;
				}
			}
		}

		@media (max-width: $bp-desktop) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	@media (max-width: $bp-mobile) {
		padding: 50px 0;

		.project {
			width: 80%;
		}
	}
}

// Stylage section à propos

.about {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 50px;

	&__article {
		width: 40%;
	}

	.pro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		padding-left: 20px;

		@media (min-width: $bp-desktop) {
			order: -1;

			&__title.down {
				order: 1;
			}
		}

		&__content {
			display: flex;
			flex-direction: column;
			gap: 20px;

			article {
				display: flex;
				gap: 20px;
				font-size: 16px;
				align-items: center;
			}
		}

		h4 {
			background-color: $third-color;
			color: white;
			border-bottom-right-radius: 20px;
			border-top-left-radius: 20px;
			border-top-right-radius: 10px;
			width: 60px;
			height: 30px;
			padding: 0;
			@include second-font;
			font-size: 16px;
			align-content: center;
			flex-shrink: 0;
		}
	}

	.perso {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding-right: 20px;

		p {
			font-size: 16px;
			color: white;
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
			padding: 5px;
			text-align: right;
		}

		&--1 {
			background-color: $main-color;
		}

		&--2 {
			background: linear-gradient(90deg,$third-color 0%, $main-color 25%);
		}

		&--3 {
			background: linear-gradient(90deg,$third-color 0%, $main-color 50%);
		}

		&--4 {
			background: linear-gradient(90deg,$third-color 25%, $main-color 75%);
		}

		&--5 {
			background: linear-gradient(90deg,$third-color 50%, $main-color 100%);
		}

		&--6 {
			background-color: $third-color;
		}
	}

	@media (max-width: $bp-desktop) {
		flex-direction: column;
		gap: 30px;

		.section__intro, &__article {
			width: 80%;

			&.pro {
				padding-left: 0;
			}

			&.perso {
				padding-right: 0;
			}
		}
	}

	@media (max-width: $bp-mobile) {
		&__article {
			width: 90%;

			.pro__content article {
				gap: 10px;
			}

			p, ul, &.perso p {
				font-size: 14px;
			}
		}
	}
}

// Stylage section contact

.contact {
	display: flex;
	justify-content: space-around;
	align-items: center;

	&__form {
		display: flex;
		flex-direction: column;
		width: 50%;

		&__intro {
			min-height: 70px;
			height: fit-content;
			color: white;
			background: linear-gradient(0deg, $third-color 22%, $main-color 100%);
			text-align: center;
			align-content: center;
			font-size: 20px;
			border-bottom-left-radius: 75px;
			border-bottom-right-radius: 75px;
			padding: 0 100px;
			margin-bottom: 30px;

			@media (max-width: $bp-mobile) {
				padding: 0 20px;
				font-size: 14px;
			}
		}

		&__input {
			height: 50px;
			margin-top: 5px;
			margin-bottom: 30px;
			box-sizing: border-box;
			padding: 10px;
			@include second-font;
			font-size: 18px;

			&.textarea {
				height: 150px;
				resize: none;
			}
		}

		&__btn {
			align-self: center;
			width: 200px;
			height: 50px;
			border-radius: 20px;
			background-color: $third-color;
			@include second-font;
			font-size: 20px;
			color: white;
			border: none;
		}
	}

	@media (min-width: $bp-desktop) {
		padding: 50px;

		.section__intro {
			width: 20%;
		}
	}

	@media (max-width: $bp-tablet) {
		flex-direction: column;
		gap: 30px;

		&__form {
			width: 80%;
		}
	}
}